body{
    margin: 0;
    height:100%;
    font-family:"Trebuchet MS", Helvetica, Arial, sans-serif
}

.main{
    flex:1;
    overflow-y: auto;
    padding: 1rem;
}

.topBarList{
    list-style-type:none;
    display:flex;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#6e0b0e
}

.topLink{
    display:block;
    color:white;
    text-align:center;
    padding: 20px 30px;
    text-decoration:none;
    font-size: large;
}

.siteTitle{
    font-weight: bold;
}

.topLink:hover{
  background-color: white;
  color: black;
}

.footer{
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;
    background-color: #333333;
    color:white;
    text-align: center;
}

a:link,a:visited{
    color:white
}